.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    margin: 0px 20px;
}
.hero .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading span{
    font-size: 120px;
    font-weight: bold;
    margin-bottom: -50px;
}
.heading span:first-child{
    text-align: left;
}
.heading span:last-child{
    text-align: end;
}
.sub-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    text-align:end;
}
.sub-heading p{
    font-size: 30px;
    font-weight: 500;
}
.sub-heading .right-arrow{
    width: 30px;
    height: 30px;
    margin-top: 7px;
    padding: 5px;
    font-size: 30px;
    background-color: blueviolet;
}

.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    flex-wrap: wrap;
}
.card-container .cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 30px;
    gap: 50px;
}
.card-container .cards .card{
    width: 350px;
    height: 450px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(99,9,121,0.8632703081232493) 100%, rgba(0,212,255,1) 100%);
    padding: 40px 30px;
}
.card-container .cards .card h3{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 30px;
}
.card-container .cards .card  p{
    font-size: 25px;
    font-weight: 400;
}